* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.focused {
    background-color: #e8e56b!important;
}

.no {
    background-color: rgb(246, 115, 137);
}

.cell {
    border: 1px solid #000;
    height: 0px;
    width:  0px;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Sukhumvit Set';
    transition: 0.3s background-color;
}

.occupied {
    background: #b6e6e8;
}

.grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
    width: 100%;
    height: 100%;
}

.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    width: 50vw;
    height: 100vh;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}